<!-- <main class="container">
  <section class="popup-form">
      <button routerLink="/customers" class="close-btn">X</button>
      <form #customerForm="ngForm" (ngSubmit)="addCustomer(customerForm)"  class="form" >
          <h2 class="form-heading">Add a new customer</h2>
          <input type="number" name="customerId" id="customerId" type="hidden" hidden="true">
          <div>
              <label for="companyName">Company Name</label>
              <input ngModel type="text"  id="companyName"  name="companyName"  required  />
          </div>
          <div>
              <label for="address.street">Street</label>
              <input ngModel type="text" id="address.street" name="address.street" required />
          </div>
          <div>
              <label for="address.city">City</label>
              <input ngModel type="text" id="address.city" name="address.city" required />
          </div>
          <div>
              <label for="address.country">Country</label>
              <input ngModel  type="text"id="address.country"name="address.country" required/>
          </div>

          <div>
              <label for="contactDetails.firstName">First Name</label>
              <input ngModel type="text"  id="contactDetails.firstName" name="contactDetails.firstName" required   />
          </div>

          <div>
              <label for="contactDetails.lastName">Last Name</label>
              <input ngModel type="text" id="contactDetails.lastName" name="contactDetails.lastName" required  />
          </div>
          <div>
              <label for="contactDetails.email">Email</label>
              <input ngModel  type="email"  id="contactDetails.email"  name="contactDetails.email"  required   />
          </div>

          <div>
              <label for="contactDetails.mobile">Mobile</label><br />
              <input ngModel type="tel"  id="contactDetails.mobile"  name="contactDetails.mobile" required />
          </div>
          <button type="Submit" class="plus-btn">Add Customer</button>
      </form>
  </section>

</main> -->
<main class="container">
  <section class="popup-form">
      <button routerLink="/customers" class="close-btn">X</button>
      <form [formGroup]= "customerForm" (ngSubmit)="submit()"  class="form" >
          <h2 class="form-heading">{{title}}</h2>
          <div>
          <input formControlName="customerId" type="number" name="customerId" id="customerId" type="hidden" hidden="true">
          <div>
              <label for="companyName">Company Name</label>
              <input formControlName="companyName" type="text"  id="companyName"  name="companyName"  required  />
          </div>
          <div  formGroupName="address">
          <div>
              <label  for="street">Street</label>
              <input  formControlName="street" type="text" id="street" name="street" required />
          </div>
          <div>
              <label for="city">City</label>
              <input formControlName="city" type="text" id="city" name="city" required />
          </div>
          <div>
              <label for="country">Country</label>
              <input formControlName="country"  type="text"id="country"name="country" required/>
          </div>
</div></div>
<div formGroupName="contactDetails">
          <div>
              <label for="firstName">First Name</label>
              <input formControlName="firstName" type="text"  id="contactDetails.firstName" name="contactDetails.firstName" required   />
          </div>

          <div>
              <label for="lastName">Last Name</label>
              <input formControlName="lastName" type="text" id="contactDetails.lastName" name="contactDetails.lastName" required  />
          </div>
          <div>
              <label for="email">Email</label>
              <input formControlName="email"  type="email"  id="contactDetails.email"  name="contactDetails.email"  required   />
          </div>

          <div>
              <label for="mobile">Mobile</label><br />
              <input formControlName="mobile" type="tel"  id="contactDetails.mobile"  name="contactDetails.mobile" required />
          </div>
        </div>

          <button type="Submit" class="plus-btn" id="button">{{button}}</button>
      </form>
  </section>

</main>
