:root {
  --primary: #3E67D1;
  --secondary: #2F4E9E;
  --accent: #ECF1FF;
  --background: #F3F3F3;
  --heading: #696868;
  --shadow: #a1a0a0;
  --amount-green: #338946;
  --amount-purple: #9E2EB0;
  --amount-red: #C22626;
  --amount-yellow: #EBBA3E;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
} */
 /* .container {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
} */

body {
  background-color: var(--accent);
}

main {
  padding: 1rem 3rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}



 .cancel-btn {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
}

 footer {
  align-items: center;
  background-color: var(--secondary);
  text-align: center;
  font-weight: 600;
  color: #fff;
}

main {
  padding: 1rem;
}


footer {
  padding: 0.5rem 0;
}




