
  <nav>
    <!-- <div class="account-info">
      <span class="account-name">Hadieh Ayman
        <p class="account-loc">Doha, Qatar</p>
      </span>
    </div> -->
    <ul class="navbar">

      <a routerLink="/dashboard">
        <li>dashboard</li>
      </a>

      <a routerLink="/customers">
        <li>customers</li>
      </a>

      <a routerLink="/invoices">
        <li>invoices</li>
      </a>

      <a routerLink="/deposits">
        <li>Deposits</li>
      </a>
      <a routerLink="/cheques">
        <li>Cheques </li>
      </a>
    </ul>
  </nav>
<router-outlet></router-outlet>
