<!DOCTYPE html>
<html lang="en">

    <main class="container">
        <div class="box invoices">
            <h1 class="dash-title">invoices</h1>
            <div class="card">
                <h3 class="card-title">All</h3>
                <p class="amount green" ><span id ="all">99.99</span><span> QR</span></p>
            </div>
            <div class="card">
                <h3 class="card-title">Due in 30 days</h3>
                <p class="amount purple">33.33<span> QR</span></p>
            </div>
            <div class="card">
                <h3 class="card-title">Due in more than 30 days</h3>
                <p class="amount red">66.66<span> QR</span></p>
            </div>
        </div>
        <div class="box cheques">
            <h1 class="dash-title">Cheques</h1>
            <div class="card">
                <h3 class="card-title">Awaiting</h3>
                <p class="amount yellow">99.99<span> QR</span></p>
            </div>
            <div class="card">
                <h3 class="card-title">Depotised</h3>
                <p class="amount purple">22.22<span> QR</span></p>
            </div>
            <div class="card">
                <h3 class="card-title">Cashed</h3>
                <p class="amount green">44.44<span> QR</span></p>
            </div>
            <div class="card">
                <h3 class="card-title">Returned</h3>
                <p class="amount red">11.11<span> QR</span></p>
            </div>
        </div>
    </main>
   
</html>
