   <body>
        <main class="container">
            <section class="header">
                <h1 class="header-title">Invoices</h1>
                <div class="count-card">
                    <div class="icon-bg">
                        <!-- <img src="img/wallet.svg" alt="" /> -->
                    </div>
                    <p class="counter">
                        700 <span class="counter-desc">Total Invoices</span>
                    </p>
                </div>
            </section>
            <section class="function">
                <form action="" class="search">
                    <input
                        type="text"
                        placeholder="Search for invoices by No..."
                        name="invoiceNo"
                        class="search-box"
                        [(ngModel)]="InvoiceNo" />
                        <button type="submit" class="search-btn" (click)="search()">
                      Search
                    </button>
                </form>
                <button class="add-btn" routerLink="/invoices/invoice-form">
                    + new invoice
                </button>
                <form class="status-report">
                    <div class="status-select">
                        <label for="status">Status: </label>
                        <select name="status" id="status">
                            <option value="All">All</option>
                            <option value="Pending">Pending</option>
                            <option value="Partially Paid">Partially Paid</option>
                            <option value="Paid">Paid</option>
                        </select>
                    </div>
                    <div class="from-date-box">
                        <label for="from-date">From Date:</label>
                        <input type="date" id="from-date" name="fromDate" required />
                    </div>
                    <div class="to-date-box">
                        <label for="to-date">To Date:</label>
                        <input type="date" id="to-date" name="toDate" required/>
                    </div>
                    <button type="submit" class="submit-btn">Submit</button>
                </form>
            </section>

            <section class="summary">
                <div class="table-header">
                    <h1 class="table-title">Invoices Summary</h1>
                </div>
                <table class="table" id="invoiceTable">
                  <tr class="table-headings">
                    <th>Invoice No.</th>
                    <th>invoice ID</th>
                    <th>invoice Name</th>
                    <th>Amount</th>
                    <th>Balance</th>
                    <th>Invoice Date</th>
                    <th>Due Date</th>
                    <th>        </th>
                  </tr>
                  <tr *ngFor="let invoice of invoices ">
                    <td>{{invoice.InvoiceNo}}</td>
                    <td>{{invoice.CustomerID.customerId}}</td>
                    <td>{{invoice.CustomerID.companyName}}</td>
                    <td>{{invoice.Amount}}</td>
                    <td>{{invoice.balance}}</td>
                    <td> {{formatDate(invoice.InvoiceDate)}}</td>
                    <td> {{formatDate(invoice.DueDate)}}</td>
                    <td class=editing-btns>
                      <button (click)="deleteInvoice(invoice.InvoiceNo)">Delete</button>
                      <button routerLink="/invoices/invoice-form/{{invoice.InvoiceNo}}">update</button>
                      <button  routerLink="/payments/invoice/{{invoice.InvoiceNo}}">payment</button>

                    </td>
                  </tr>
                </table>
            </section>
        </main>


        </body>
        <footer>
            <p class="copyright">
                ⓒ 2022. G5-Fatma-Hadieh-Shayma rights reserved.
            </p>
        </footer>
